.opportunity {
  padding: 80px 0;

  &-title {
    max-width: 908px;
  }

  &-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-inner__title {
    color: $default-text-color;
    @extend %inter-600;
    font-size: 22px;
  }
}

.opportunity-advice {
  max-width: 683px;

  &__title {
    margin-bottom: 35px;
  }

  ul.opportunity-advice__list {
    margin-bottom: 50px;
    display: grid;
    gap: 35px;
    color: $default-text-color;
    @extend %inter-400;
    font-size: 18px;
    line-height: calc(31 / 18 * 100%);
  }

  &__list-text {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__list-point {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 54px;
    min-width: 54px;
    border: 2px solid #F1CA44;
    border-radius: 50%;
    @extend %inter-600;
    text-align: center;
    font-size: 29px;
    line-height: 1;
  }

  &__img {
    position: relative;
    left: -55px;
    @extend %img-block;
  }
}

.form-data,
.opportunity-form-data__bottom {
  max-width: 428px;
  border-radius: 15px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
  text-align: center;
  color: $default-text-color;
  background-color: #ffffff;
}

.form-data {
  padding: 30px 30px 20px;
  margin-bottom: 23px;

  &-title {
    margin-bottom: 6px;
  }

  &-text {
    @extend %inter-400;
    font-size: 16px;
    line-height: calc(28 / 16 * 100%);
    margin-bottom: 26px;
  }

  &-tel {
    @extend %inter-400;
    color: #000;
    width: 100%;
    padding-bottom: 15px;
    border: none;
    outline: none;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 28px;
  }

  &-photo {
    cursor: pointer;
    @extend %inter-400;
    font-size: 17px;
    line-height: calc(28 / 17 * 100%);
    display: flex;
    align-items: center;
    margin-bottom: 34px;
  }

  &-photo__add {
    opacity: 0;
    width: 0;
    height: 0;
    font-size: 0;
  }

  &-photo__add-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F4BE5D;
    background-image: url('../images/opportunity/camera.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-right: 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.20);
  }

  &-btn {
    height: 72px;
    max-height: 350px;
    margin-bottom: 23px;
  }
  & a.form-btn{
    color: #906105;
  }

  &-bottom__text {
    color: $default-text-color;
    @extend %inter-400;
    font-size: 15px;
    line-height: calc(26 / 15 * 100%);
    max-width: 307px;
    margin: 0 auto;
  }
}

.opportunity-form-data__bottom {
  padding: 13px 89px 22px;

  &-title {
    font-size: 22px;
    line-height: calc(33 / 22 * 100%);
    margin-bottom: 18px;
  }
  &-img{
    @extend %img-block;
  }

  &-link {
    color: #ffffff;
    background-color: #88FA73;
    background-image: linear-gradient(To Top, rgba(136, 250, 115, 0) 0%, rgba(136, 250, 115, 0.2) 49%, rgba(136, 250, 115, 0) 100%);
    box-shadow: 0 4px 0 #1FB727, inset 0 0 6px #ffffff;
    text-align: center;
    @extend %inter-600;
    font-size: 17px;
    line-height: calc(26 / 17 * 100%);
  }

  &-link:hover {
    background-color: rgb(136 250 115 / 76%);
    transition: 0.4s;
  }
}

@media (max-width: 1150px) {
  .opportunity-items {
    display: block;
  }

  .opportunity-advice,
  .form-data,
  .opportunity-form-data__bottom {
    margin: 0 auto;
  }

  .opportunity-advice {
    margin-bottom: 35px;
  }

  .opportunity-form-data__bottom {
    margin-bottom: 30px;
  }

  .form-data {
    margin-bottom: 23px;
  }

  .opportunity-advice__img {
    position: static;
  }
}

@media (max-width: 960px) {

  .opportunity-title {
    max-width: 600px;
  }
}

@media (max-width: 720px) {
  .opportunity {
    padding: 50px 0;
  }
}

@media (max-width: 590px) {
  .opportunity-title {
    max-width: 328px;
  }

  .opportunity-advice__title {
    text-align: center;
    font-size: 18px;
    margin: 0 auto 23px;
  }

  .opportunity-advice ul.opportunity-advice__list {
    margin: 0 auto 17px;
    gap: 15px;
  }

  .opportunity-advice__list-point {
    min-height: 36px;
    min-width: 36px;
    border: 2px solid #F1CA44;
    font-size: 22px;
  }

  .opportunity-advice__list-text {
    gap: 15px;
  }
}

@media (max-width: 430px) {

  .form-data,
  .opportunity-form-data__bottom {
    max-width: 386px;
  }

  .form-data-title {
    font-size: 20px;
  }

  .form-data-text {
    font-size: 16px;
    margin-bottom: 23px;
  }

  .opportunity-form-data__bottom {
    padding: 13px 80px 22px;
  }

  .opportunity-form-data__bottom-title {
    font-size: 19px;
  }
}

@media (max-width: 380px) {
  .opportunity-form-data__bottom {
    padding: 13px 55px 22px;
  }
}