.questions {
  padding: 80px 0;

  &-title {
    max-width: 600px;
  }

  &-slider {
    margin-bottom: 62px;
  }

  &-btn {
    max-width: 350px;
    margin: 0 auto;
  }
}

.slick-list {
  margin-bottom: 52px;
}

ul.slick-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-size: 0;
}

ul.slick-dots button {
  background-color: transparent;
  border: 1px solid #F6C161;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

ul.slick-dots .slick-active button {
  background-color: #F6C161;
}

.slick-arrow {
  position: absolute;
  bottom: -16px;
  width: 47px;
  height: 47px;
  padding: 0;
  font-size: 0;
  border-radius: 50%;
  border: none;
  z-index: 20;
  background-color: #F6C161;
  background-image: url('../images/questions/arrow.svg');
  background-repeat: no-repeat;
  background-position: 56% center;
  cursor: pointer;
}


.slick-prev {
  left: calc(50% - 125px);
  transform: rotate(180deg);
}

.slick-next {
  right: calc(50% - 125px);
}

@media (max-width: 960px) {
  .questions {
    &-slider {
      margin-bottom: 56px;
    }
  }

  .slider-item__img {
    margin: 0 auto;
  }

  .slick-prev {
    left: calc(50% - 165px);
  }

  .slick-next {
    right: calc(50% - 165px);
  }
}

@media (max-width: 720px) {
  .questions {
    padding: 50px 0;
  }
}

@media (max-width: 540px) {
  .questions {

    &-title {
      max-width: 242px;
    }
  }

  .slider {
    margin-bottom: 0;
  }

  .slick-list {
    margin-bottom: 5px;
  }

  .slick-arrow {
    bottom: 0;
    top: 50%;
  }

  .slick-prev {
    left: calc(50% - 160px);
  }

  .slick-next {
    right: calc(50% - 160px);
  }
}