.services {
  padding: 83px 0 42px;

  &-inner {
    position: relative;
  }

  &-info {
    color: $default-text-color;
    max-width: 468px;
  }

  &-title {
    margin-bottom: 25px;
    text-align: left;
    max-width: 440px
  }

  &-text {
    @extend %inter-400;
    font-size: 18px;
    line-height: calc(31 / 18 * 100%);
    margin-bottom: 22px;
  }

  ul.services-list {
    padding-left: 10px;
    @extend %inter-400;
    font-size: 16px;
    line-height: calc(31 / 16 * 100%);
    margin-bottom: 38px;
  }
  &-list__item::before{
    content: '-';
  }

  &-btn {
    max-width: 410px;
    padding: 0 22px;
  }


  &-people__img {
    position: absolute;
    height: 108%;
    right: -93px;
    top: 0;
  }
}


@media (max-width: 1360px) {
  .services-people__img {
    right: 0;
    height: 100%;
    width: 50%;
    object-fit: cover;
  }
}

@media (max-width: 960px) {
  .services {
    padding: 56px 0 0;
    &-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 35px;
      text-align: center;
    }
    
    &-info {
      max-width: 468px;
      margin: 0 auto;
    }
    
    &-title {
      margin: 0 auto 25px;
      text-align: center;
    }

    ul.services-list {
      margin-bottom: 0;
    }

    &-btn {
      max-width: 444px;
      padding: 0 22px;
      width: 100%;
      order: 1;
    }

    &-people__img {
      margin: 0 auto;
      position: static;
      width: 100%;
    }
  }
}


@media (max-width: 560px) {
  .services-title {
    max-width: 355px;
    font-size: 31px;
  }
}