<section class="advantages">
  <div class="container">
    <div class="advantages-inner">
      <h1 class="advantages-title title">
        Преимущества реставрации чугунной ванны
      </h1>
      <div class="advantages-items">
        <div class="advantages-item">
          <div class="advantages-item__display">
            <img class="advantages-item__display-img" data-src="images/advantages/1.jpg" src="images/1x1.png"
              alt="advantages image">
          </div>
          <h5 class="advantages-item__title">
            Комфорт и наслаждение
          </h5>
          <p class="advantages-item__descr">
            Чугунные ванн очень хорошо удерживают комфортную температуру и можно с удовольствием принимать ванну
          </p>
        </div>
        <div class="advantages-item">
          <div class="advantages-item__display item-second">
            <img class="advantages-item__display-img" data-src="images/advantages/2.jpg" src="images/1x1.png"
              alt="advantages image">
            <img class="advantages-item__display-img--top" data-src="images/advantages/2-1.png" src="images/1x1.png"
              alt="advantages image top">
          </div>
          <h5 class="advantages-item__title">
            Надежность и прочность
          </h5>
          <p class="advantages-item__descr">
            Лучше всего жидкий акрил держится на чугунных ваннах из за высокой прочности и стойкости основы.
          </p>
        </div>
        <div class="advantages-item">
          <div class="advantages-item__display item-third">
            <img class="advantages-item__display-img" data-src="images/advantages/3.png" src="images/1x1.png"
              alt="advantages image">
          </div>
          <h5 class="advantages-item__title">
            Доступность и выгода
          </h5>
          <p class="advantages-item__descr">
            Покупка новой ванны и её замена, обойдется вам в 15.000-20.000 рублей. Это в три раза дороже реставрации
            чугунной ванны.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>