<section class="gift">
  <div class="container">
    <div class="gift-inner">
      <h1 class="gift-title title">
        Подарите вашей чугунной ванне новую жизнь
      </h1>
      <div class="gift-items">
        <div class="gift-info">
          <p class="gift-info__text">
            Чугунные ванны знамениты своей прочностью, долговечностью и замечательной теплоемкостью. Эти качества
            позволяют им
            сохранять свою внешность и функциональность на протяжении многих лет, что делает их невероятно ценными и
            заслуживающими
            реставрации
          </p>
        </div>
        <div class="gift-video">
          <img class="gift-video__img" data-src="images/gift/1.jpg" src="images/1x1.png" alt="bath">
          <div class="gift-video__play">
            <a class="gift-video__play-link" data-fancybox href="https://youtu.be/QyydYd34JJ8">
              <img class="gift-video__play-img" data-src="images/gift/play.svg" src="images/1x1.png" alt="play">
            </a>
          </div>
          <div class="gift-video__bottom">
            <p class="gift-video__bottom-title">
              Посмотрите как мы делаем реставрацию
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
