<section class="methods">
  <div class="container">
    <div class="methods-inner">
      <h2 class="methods-title title">
        Существует несколько способов реставрации чугунных ванн
      </h2>
      <div class="methods-items">
        <div class="methods-item">
          <div class="methods-item__inner">
            <h5 class="methods-item__title">Способ 1</h5>
            <p class="methods-item__text">
              Реставрация чугунной ванны жидким акрилом
            </p>
            <a class="methods-item__link" href="#">
              Подробнее
            </a>
          </div>
          <img class="methods-item__img" data-src="images/methods/1.jpg" src="images/1x1.png" alt="method">
        </div>
        <div class="methods-item">
          <div class="methods-item__inner">
            <h5 class="methods-item__title">Способ 2</h5>
            <p class="methods-item__text">
              Восстановление чугунной ванны
              с помощью акрилового вкладыша
            </p>
            <a class="methods-item__link" href="#">
              Подробнее
            </a>
          </div>
          <img class="methods-item__img" data-src="images/methods/2.jpg" src="images/1x1.png" alt="method">
        </div>
        <div class="methods-item">
          <div class="methods-item__inner">
            <h5 class="methods-item__title">Способ 3</h5>
            <p class="methods-item__text">
              Эмалировка чугунной ванны
            </p>
            <a class="methods-item__link" href="#">
              Подробнее
            </a>
          </div>
          <img class="methods-item__img" data-src="images/methods/3.jpg" src="images/1x1.png" alt="method">
        </div>
        <div class="methods-item">
          <div class="methods-item__inner">
            <h5 class="methods-item__title">Способ 4</h5>
            <p class="methods-item__text">
              Реставрация чугунной ванны Литьевым мрамор или Кварц Акрилом
            </p>
            <a class="methods-item__link" href="#">
              Подробнее
            </a>
          </div>
          <img class="methods-item__img" data-src="images/methods/4.jpg" src="images/1x1.png" alt="method">
        </div>
      </div>
    </div>
  </div>
</section>