<section class="opportunity">
  <div class="container">
    <div class="opportunity-inner">
      <h2 class="opportunity-title title">
        Не торопитесь с покупкой новой ванны! Дайте нам шанс восстановить вашу старую чугунную ванну и сэкономить деньги
      </h2>
      <div class="opportunity-items">
        <div class="opportunity-advice">
          <h5 class="opportunity-advice__title opportunity-inner__title">
            Можем посоветовать 2 варианта
          </h5>
          <ul class="opportunity-advice__list">
            <li class="opportunity-advice__list-text">
              <span class="opportunity-advice__list-point">1</span>Сделать реставрация чугунной ванны жидким акрилом
            </li>
            <li class="opportunity-advice__list-text">
              <span class="opportunity-advice__list-point">2</span>Сделать реставрация чугунной ванны литьевым мрамор
              или Кварц Акрилом
            </li>
          </ul>
          <img class="opportunity-advice__img" data-src="images/opportunity/1.jpg" src="images/1x1.png" alt="vanna">
        </div>
        <div class="opportunity-form">
          <form class="form" action="">
            <h5 class="form-title opportunity-inner__title">
              Загрузите фото вашей ванны
            </h5>
            <p class="form-text">
              Мастер оценит стоимость реставрации Вашей ванны в течении часа
            </p>
            <input class="form-tel" type="tel" placeholder="+7 (999) 999-99-99">
            <label class="form-photo" for="add-photo">
              <input class="form-photo__add" type="file" name="image" id="add-photo">
              <span class="form-photo__add-btn"></span>
              Добавить фото
            </label>
            <a class="form-btn button" href="#">Оценить стоимость</a>
            <p class="form-bottom__text">
              Нажимая на кнопку “Оценить стоимость” вы даёте согласие на обработку персональных данных
            </p>
          </form>
          <div class="opportunity-form__bottom">
            <h5 class="opportunity-form__bottom-title opportunity-inner__title">
              Или отправьте фото на наш WhatsApp
            </h5>
            <a class="opportunity-form__bottom-link button" href="https://web.whatsapp.com">
              <span class="opportunity-form__bottom-text">WhatsApp</span>
              <img class="opportunity-form__bottom-img" data-src="images/opportunity/whatsApp.svg" src="images/1x1.png"
                alt="WhatsApp">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>