<section class="opportunity">
  <div class="container">
    <div class="opportunity-inner">
      <h1 class="opportunity-title title">
        Не торопитесь с покупкой новой ванны! Дайте нам шанс восстановить вашу старую чугунную ванну и сэкономить деньги
      </h1>
      <div class="opportunity-items">
        <div class="opportunity-advice">
          <h5 class="opportunity-advice__title">
            Можем посоветовать 2 варианта
          </h5>
          <ul class="opportunity-advice__list">
            <li class="opportunity-advice__list-text">
              <span class="opportunity-advice__list-point">1</span>Сделать реставрация чугунной ванны жидким акрилом
            </li>
            <li class="opportunity-advice__list-text">
              <span class="opportunity-advice__list-point">2</span>Сделать реставрация чугунной ванны литьевым мрамор или Кварц Акрилом
            </li>
          </ul>
          <img class="opportunity-advice__img" data-src="images/opportunity/1.jpg" src="images/1x1/png" alt="vanna">
        </div>
        <div class="opportunity-form">

        </div>
      </div>
    </div>
  </div>
</section>