<section class="price">
  <div class="container">
    <div class="price-inner">
      <h1 class="price-title title">
        Цены на реставрацию ванн
      </h1>
      <p class="price-descr">
        За 9 лет работы реставрация жидким акрилом доказала свое преимущество перед другими видами реставрации
      </p>
      <p class="price-text">
        Выбирайте тариф, который подходит именно вам:
      </p>
      <div class="price-items">
        <div class="price-item">
          <img class="price-item__img" data-src="images/price/1.jpg" src="images/1x1.png" alt="Standart">
          <h4 class="price-item__title">
            Реставрация "СТАНДАРТ"
          </h4>
          <p class="price-item__descr">
            Используется Краска (Экованна Люкс, SIPOFLEX, VALEX)
          </p>
          <ul class="price-item__list">
            <li class="price-item__list-info">
              Срок службы: <span class="price-item__list-strong">8-12 лет</span>
            </li>
            <li class="price-item__list-info">
              Высыхает за <span class="price-item__list-strong">24-36 часов</span>
            </li>
            <li class="price-item__list-info">
              Цена <span class="price-item__list-strong">от 6900</span>
            </li>
          </ul>
          <a class="price-item__btn button" href="#">Заказать реставрацию</a>
          <a class="price-item__link" href="#">Подробнее</a>
        </div>
        <div class="price-item">
          <img class="price-item__img" data-src="images/price/2.jpg" src="images/1x1.png" alt="Standart">
          <h4 class="price-item__title">
            Реставрация "ПРЕМИУМ"
          </h4>
          <p class="price-item__descr">
            Используется Личный бренд краски (НОВАЯ ВАННА)
          </p>
          <ul class="price-item__list">
            <li class="price-item__list-info">
              Срок службы: <span class="price-item__list-strong">10-15 лет</span>
            </li>
            <li class="price-item__list-info">
              Высыхает за <span class="price-item__list-strong">24-36 часов</span>
            </li>
            <li class="price-item__list-info">
              Цена <span class="price-item__list-strong">от 7900</span>
            </li>
          </ul>
          <a class="price-item__btn button" href="#">Заказать реставрацию</a>
          <a class="price-item__link" href="#">Подробнее</a>
        </div>
        <div class="price-item">
          <img class="price-item__img" data-src="images/price/3.jpg" src="images/1x1.png" alt="Standart">
          <h4 class="price-item__title">
            Литьевой мрамор
          </h4>
          <p class="price-item__descr">
            Используется краска <br> (Литьевой мрамор)
          </p>
          <ul class="price-item__list">
            <li class="price-item__list-info">
              Срок службы: <span class="price-item__list-strong">15 лет и более</span>
            </li>
            <li class="price-item__list-info">
              Высыхает за <span class="price-item__list-strong">24-36 часов</span>
            </li>
            <li class="price-item__list-info">
              Цена <span class="price-item__list-strong">от 11000</span>
            </li>
          </ul>
          <a class="price-item__btn button" href="#">Заказать реставрацию</a>
          <a class="price-item__link" href="#">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</section>