<section class="questions">
  <div class="container">
    <div class="questions-inner">
      <h2 class="questions-title title">
        Иногда клиенты обращаются к нам с вопросом:
      </h2>
      <div class="questions-slider slider">
        <a class="slider-item" data-fancybox="gallery" href="images/questions/1.png">
          <img class="slider-item__img" data-lazy="images/questions/1.png" src="images/1x1.png" alt="client questions">
        </a>
        <a class="slider-item" data-fancybox="gallery" href="images/questions/2.png">
          <img class="slider-item__img" data-lazy="images/questions/2.png" src="images/1x1.png" alt="client questions">
        </a>
        <a class="slider-item" data-fancybox="gallery" href="images/questions/3.png">
          <img class="slider-item__img" data-lazy="images/questions/3.png" src="images/1x1.png" alt="client questions">
        </a>
        <a class="slider-item" data-fancybox="gallery" href="images/questions/4.png">
          <img class="slider-item__img" data-lazy="images/questions/4.png" src="images/1x1.png" alt="client questions">
        </a>
        <a class="slider-item" data-fancybox="gallery" href="images/questions/1.png">
          <img class="slider-item__img" data-lazy="images/questions/1.png" src="images/1x1.png" alt="client questions">
        </a>
        <a class="slider-item" data-fancybox="gallery" href="images/questions/2.png">
          <img class="slider-item__img" data-lazy="images/questions/2.png" src="images/1x1.png" alt="client questions">
        </a>
        <a class="slider-item" data-fancybox="gallery" href="images/questions/3.png">
          <img class="slider-item__img" data-lazy="images/questions/3.png" src="images/1x1.png" alt="client questions">
        </a>
        <a class="slider-item" data-fancybox="gallery" href="images/questions/4.png">
          <img class="slider-item__img" data-lazy="images/questions/4.png" src="images/1x1.png" alt="client questions">
        </a>
        <a class="slider-item" data-fancybox="gallery" href="images/questions/1.png">
          <img class="slider-item__img" data-lazy="images/questions/1.png" src="images/1x1.png" alt="client questions">
        </a>
        <a class="slider-item" data-fancybox="gallery" href="images/questions/2.png">
          <img class="slider-item__img" data-lazy="images/questions/2.png" src="images/1x1.png" alt="client questions">
        </a>
        <a class="slider-item" data-fancybox="gallery" href="images/questions/3.png">
          <img class="slider-item__img" data-lazy="images/questions/3.png" src="images/1x1.png" alt="client questions">
        </a>
        <a class="slider-item" data-fancybox="gallery" href="images/questions/4.png">
          <img class="slider-item__img" data-lazy="images/questions/4.png" src="images/1x1.png" alt="client questions">
        </a>
        <a class="slider-item" data-fancybox="gallery" href="images/questions/1.png">
          <img class="slider-item__img" data-lazy="images/questions/1.png" src="images/1x1.png" alt="client questions">
        </a>
        <a class="slider-item" data-fancybox="gallery" href="images/questions/2.png">
          <img class="slider-item__img" data-lazy="images/questions/2.png" src="images/1x1.png" alt="client questions">
        </a>
        <a class="slider-item" data-fancybox="gallery" href="images/questions/3.png">
          <img class="slider-item__img" data-lazy="images/questions/3.png" src="images/1x1.png" alt="client questions">
        </a>
        <a class="slider-item" data-fancybox="gallery" href="images/questions/4.png">
          <img class="slider-item__img" data-lazy="images/questions/4.png" src="images/1x1.png" alt="client questions">
        </a>
        <a class="slider-item" data-fancybox="gallery" href="images/questions/1.png">
          <img class="slider-item__img" data-lazy="images/questions/1.png" src="images/1x1.png" alt="client questions">
        </a>
        <a class="slider-item" data-fancybox="gallery" href="images/questions/2.png">
          <img class="slider-item__img" data-lazy="images/questions/2.png" src="images/1x1.png" alt="client questions">
        </a>
        <a class="slider-item" data-fancybox="gallery" href="images/questions/3.png">
          <img class="slider-item__img" data-lazy="images/questions/3.png" src="images/1x1.png" alt="client questions">
        </a>
        <a class="slider-item" data-fancybox="gallery" href="images/questions/4.png">
          <img class="slider-item__img" data-lazy="images/questions/4.png" src="images/1x1.png" alt="client questions">
        </a>
      </div>
      <a class="questions-btn btns" href="#">Заказать реставрацию</a>
    </div>
  </div>
</section>