<section class="questions">
  <div class="container">
    <div class="questions-inner">
      <h1 class="questions-title title">
        Иногда клиенты обращаются к нам с вопросом:
      </h1>
      <div class="questions-slider slider">
        <div class="slider-item">
          <img class="slider-item__img" data-lazy="images/questions/1.png" src="images/1x1.png" alt="client questions">
        </div>
        <div class="slider-item">
          <img class="slider-item__img" data-lazy="images/questions/2.png" src="images/1x1.png" alt="client questions">
        </div>
        <div class="slider-item">
          <img class="slider-item__img" data-lazy="images/questions/3.png" src="images/1x1.png" alt="client questions">
        </div>
        <div class="slider-item">
          <img class="slider-item__img" data-lazy="images/questions/4.png" src="images/1x1.png" alt="client questions">
        </div>
        <div class="slider-item">
          <img class="slider-item__img" data-lazy="images/questions/1.png" src="images/1x1.png" alt="client questions">
        </div>
        <div class="slider-item">
          <img class="slider-item__img" data-lazy="images/questions/2.png" src="images/1x1.png" alt="client questions">
        </div>
        <div class="slider-item">
          <img class="slider-item__img" data-lazy="images/questions/3.png" src="images/1x1.png" alt="client questions">
        </div>
        <div class="slider-item">
          <img class="slider-item__img" data-lazy="images/questions/4.png" src="images/1x1.png" alt="client questions">
        </div>
        <div class="slider-item">
          <img class="slider-item__img" data-lazy="images/questions/1.png" src="images/1x1.png" alt="client questions">
        </div>
        <div class="slider-item">
          <img class="slider-item__img" data-lazy="images/questions/2.png" src="images/1x1.png" alt="client questions">
        </div>
        <div class="slider-item">
          <img class="slider-item__img" data-lazy="images/questions/3.png" src="images/1x1.png" alt="client questions">
        </div>
        <div class="slider-item">
          <img class="slider-item__img" data-lazy="images/questions/4.png" src="images/1x1.png" alt="client questions">
        </div>
        <div class="slider-item">
          <img class="slider-item__img" data-lazy="images/questions/1.png" src="images/1x1.png" alt="client questions">
        </div>
        <div class="slider-item">
          <img class="slider-item__img" data-lazy="images/questions/2.png" src="images/1x1.png" alt="client questions">
        </div>
        <div class="slider-item">
          <img class="slider-item__img" data-lazy="images/questions/3.png" src="images/1x1.png" alt="client questions">
        </div>
        <div class="slider-item">
          <img class="slider-item__img" data-lazy="images/questions/4.png" src="images/1x1.png" alt="client questions">
        </div>
        <div class="slider-item">
          <img class="slider-item__img" data-lazy="images/questions/1.png" src="images/1x1.png" alt="client questions">
        </div>
        <div class="slider-item">
          <img class="slider-item__img" data-lazy="images/questions/2.png" src="images/1x1.png" alt="client questions">
        </div>
        <div class="slider-item">
          <img class="slider-item__img" data-lazy="images/questions/3.png" src="images/1x1.png" alt="client questions">
        </div>
        <div class="slider-item">
          <img class="slider-item__img" data-lazy="images/questions/4.png" src="images/1x1.png" alt="client questions">
        </div>
      </div>
      <a class="questions-btn button" href="#">Заказать реставрацию</a>
    </div>
  </div>
</section>
