<sectin class="rules">
  <div class="container">
    <div class="rules__inner">
      <h2 class="rules__title title">
        6 правил за уходом чугунной ванны
      </h2>
      <p class="rules__descr">
        Производители жидкого акрила дают гарантию на него сроком 15 лет. Но сколько прослужит жидкий акрил на чугунной
        ванне
        зависит от качества ухода за ним.
      </p>
      <div class="rules__items">

        <div class="rules__item">
          <div class="rules__item-inner">
            <div class="rules__item-num">
              01
            </div>
            <div class="rules__item-info">
              <h5 class="rules__item-title">
                Поддерживать в чистоте
              </h5>
              <p class="rules__item-descr">
                Никаких особых усилий в уходе за чугунными ваннами не требуется, достаточно поддерживать их в чистоте
              </p>
            </div>
          </div>
          <div class="rules__item-right item-another">
            <img class="rules__item-img" data-src="images/rules/1.png" src="images/1x1.png" alt="image">
            <img class="img-absolute-1" data-src="images/rules/1-1.png" src="images/1x1.png" alt="image">
            <img class="img-absolute-2" data-src="images/rules/1-2.png" src="images/1x1.png" alt="image">
          </div>
        </div>

        <div class="rules__item">
          <div class="rules__item-inner">
            <div class="rules__item-num">
              02
            </div>
            <div class="rules__item-info">
              <h5 class="rules__item-title">
                Уход
              </h5>
              <p class="rules__item-descr">
                Не мыть жёсткими абразивными бытовыми средствами и металическими губками
              </p>
            </div>
          </div>
          <div class="rules__item-right">
            <img class="rules__item-img" data-src="images/rules/2.png" src="images/1x1.png" alt="image">
          </div>
        </div>
        <div class="rules__item">
          <div class="rules__item-inner">
            <div class="rules__item-num">
              03
            </div>
            <div class="rules__item-info">
              <h5 class="rules__item-title">
                Бережность
              </h5>
              <p class="rules__item-descr">
                Не допускать падения на покрытие острых и тяжёлых предметов
              </p>
            </div>
          </div>
          <div class="rules__item-right">
            <img class="rules__item-img" data-src="images/rules/3.png" src="images/1x1.png" alt="image">
          </div>
        </div>
        <div class="rules__item">
          <div class="rules__item-inner">
            <div class="rules__item-num">
              04
            </div>
            <div class="rules__item-info">
              <h5 class="rules__item-title">
                Осторожность
              </h5>
              <p class="rules__item-descr">
                Не замачивайте цветные вещи и не пользуйтесь красящими веществами
              </p>
            </div>
          </div>
          <div class="rules__item-right">
            <img class="rules__item-img" data-src="images/rules/4.png" src="images/1x1.png" alt="image">
          </div>
        </div>
        <div class="rules__item">
          <div class="rules__item-inner">
            <div class="rules__item-num">
              05
            </div>
            <div class="rules__item-info">
              <h5 class="rules__item-title">
                Наблюдайте за температурой
              </h5>
              <p class="rules__item-descr">
                Также ни в коем случае нельзя лить кипяток.
                Акрил боится воду температурой выше 80 градусов
              </p>
            </div>
          </div>
          <div class="rules__item-right item-another">
            <img class="rules__item-img img-absolute-3" data-src="images/rules/5.png" src="images/1x1.png" alt="image">
          </div>
        </div>
        <div class="rules__item">
          <div class="rules__item-inner">
            <div class="rules__item-num">
              06
            </div>
            <div class="rules__item-info">
              <h5 class="rules__item-title">
                Защищай
              </h5>
              <p class="rules__item-descr">
                Защищать дно и стенки ванны от когтей животных металлических тазов
              </p>
            </div>
          </div>
          <div class="rules__item-right">
            <img class="rules__item-img" data-src="images/rules/6.png" src="images/1x1.png" alt="image">
          </div>
        </div>
      </div>
    </div>
  </div>
</sectin>