<section class="services">
  <div class="container">
    <div class="services-inner">
      <div class="services-info">
        <h2 class="services-title title">
          Реставрация чугунных ванн в Уфе
        </h2>
        <p class="services-text">
          Меня зовут <strong class="strong-text">Валентин</strong>, я занимаюсь реставрацией ванн <strong
            class="strong-text">в Уфе с 2014 года.</strong>
        </p>
        <ul class="services-list">
          <li class="services-list__item">
            Работаю по договору, выдаю <strong class="strong-text">акт выполненных работ.</strong>
          </li>
          <li class="services-list__item">
            Подготовку ванны выполняю <strong class="strong-text">профессиональным оборудованием</strong> (без пыли).
          </li>
          <li class="services-list__item">
            Использую <strong class="strong-text">сертифицированный материал</strong> и заливаю ванну в <strong
              class="strong-text">два слоя.</strong>
          </li>
          <li class="services-list__item">
            Подключаю ванну к канализации на <strong class="strong-text">следующий</strong> день.
          </li>
        </ul>
      </div>
      <a class="services-btn btns" href="#">
        Заказать реставрацию чугунной ванны
      </a>
      <div class="services-people">
        <img class="services-people__img" data-src="images/services/1.jpg" src="images/1x1.png" alt="Валентин">
      </div>
    </div>
  </div>
</section>